<footer class="footer" >
    <div class="container text-center">
      <div class="text-center">
        <h3 >Vedang Pokar</h3>
        <h5 >Copyright &copy; 2022</h5>
        <div class="text-center">
          <div class="btn-wrapper profile text-center">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-instagram"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-pinterest"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-behance"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>