.footer {
    background: radial-gradient(ellipse at bottom, #111111 30%, #000000 80%);
    border-color: #f5365c;
}

.btn-icon:hover {
    background: linear-gradient(90deg, #ec250d 0%, #fd5d93 100%) !important;
}