<footer class="footer" >
    <div class="container text-center">
      <div class="text-center">
        <h3 class="font-weight-bold mb-2">Vedang Pokar</h3>
        <p class="">Designer</p>
        <h5 >Copyright &copy; 2022</h5>
        <div class="text-center">
          <div class="btn-wrapper profile text-center">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.instagram.com/reel/CaptQJ0Dlyr/?utm_medium=copy_link"
              target="_blank"
            >
              <i class="fab fa-instagram"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://youtube.com/channel/UCUHsLeDfO2uPIKFw9Zx8wXA"
              target="_blank"
            >
              <i class="fab fa-youtube"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://www.behance.net/vedangpokar"
              target="_blank"
            >
              <i class="fab fa-behance"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>