.navbar {
    .bg-danger{
        background-color: #000 !important;
        background: #000 !important;
    }
}

// #navigation {
//     background: transparent !important;
// }
.navbar-collapse {
    background: #000 ;
}

// .show {
//     background: #000 !important;
// }

.bg-danger{
    background-color: #000 !important;
    background: #000 !important;
}
.btn {
    background: white;
    color: #000 !important;
}

.btn:hover {
    background: gray !important;
    color: #fff !important;
}