
.page-header {
    padding-top: 100px;
}

.pro {
    transition: .3s;
}

.pro:hover {
    transform: scale(1.05);
}
    
@media only screen and (min-width: 1000px) {
    .page-header {
        padding-top: 200px;
    }
}


.loading-div {
    width: 100%;
    // height: 100%;
    // padding: 0 auto !important;
}

.loading-div img {
    width: 100px;
    height: 100px;
    margin-left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);    
    // transform: translateY(50%);    
}