
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
           <div class="col-lg-6 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register" style="background: #000;">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  style="margin-top: -190px;"
                  src="assets/img/square1-red.png"
                />

                <h5 class="card-title" style="font-size: 42px;">About Me</h5>
              </div>
              <div class="card-body p-5" style="background: #000;">
                <h4>Hi ! I am<span class="text-danger"> Vedang Pokar.</span></h4>
                <h4>I'm a Graphics Designer based in India.<br/> I love image in all field and i never stop searching for new styles and forms of self expression to  improve my skills.</h4>
                <h4>I love adventurees and travelling, making experiences and being constantly inspired by new things and new people.</h4>
              </div>
            </div>
          </div> 
        </div>
        <div class="d-none d-lg-block">
          <div class="square square-1" id="square1"></div>
          <div class="square square-2" id="square2"></div>
          <div class="square square-3" id="square3"></div>
          <div class="square square-4" id="square4"></div>
          <div class="square square-5" id="square5"></div>
          <div class="square square-6" id="square6"></div>
        </div>
        <!-- <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div> -->
      </div>
    </div>
  </div>
</div>
